.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/Group11.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  font-family: Hind;
  margin: 380px 259px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 0.9375rem;
  margin: 13px 419px 0 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 49px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 59px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-right: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/Group3.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  font-family: Hind;
  margin: 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 0.9375rem;
  margin: 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 41px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-block-0d72-5 {
  position: absolute;
  top: auto;
  bottom: 47px;
}

.u-block-0d72-3 {
  position: absolute;
  left: 0;
}

.u-block-0d72-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 479px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 26px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 26px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 26px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 26px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-5 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 26px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 2px;
}

.u-section-2 .u-icon-6 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  width: 217px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 20px);
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 474px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-2 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 29px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 817px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 159px;
}

.u-section-3 .u-text-1 {
  font-size: 2.1875rem;
  font-weight: bold;
  margin: 43px 859px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 20px 601px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 281px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 539px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 207px;
    margin-top: 43px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 689px;
}

.u-section-4 .u-list-1 {
  width: 1152px;
  grid-template-rows: auto;
  margin: 17px 0 0 -12px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 30px 10px;
}

.u-section-4 .u-image-1 {
  height: 195px;
  animation-duration: 1000ms;
  width: 357px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  margin: 20px 167px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  width: 357px;
  margin: 27px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 16px 10px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 35px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 30px 10px;
}

.u-section-4 .u-image-2 {
  height: 195px;
  animation-duration: 1000ms;
  width: 357px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 20px 167px 0 0;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  width: 357px;
  margin: 27px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 16px 10px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 35px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 30px 10px;
}

.u-section-4 .u-image-3 {
  height: 195px;
  animation-duration: 1000ms;
  width: 357px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 20px 167px 0 0;
}

.u-section-4 .u-line-3 {
  transform-origin: left center 0px;
  width: 357px;
  margin: 27px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 16px 10px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 35px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 60px;
  padding: 10px 519px 10px 517px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
    padding-left: 68px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 282px;
    margin-left: 214px;
  }

  .u-section-4 .u-line-1 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 63px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 19px;
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 23px;
    padding-left: 68px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 282px;
    margin-left: 214px;
  }

  .u-section-4 .u-line-2 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 63px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 19px;
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 23px;
    padding-left: 68px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 27px;
    margin-right: 282px;
    margin-left: 214px;
  }

  .u-section-4 .u-line-3 {
    margin-left: 224px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 63px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 19px;
    margin-right: 420px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-4 {
    padding-right: 419px;
    padding-left: 417px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1500px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 16px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 21px;
    margin-right: 175px;
    margin-left: 145px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 21px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 16px;
    margin-right: 238px;
    margin-left: 283px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 16px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 21px;
    margin-right: 175px;
    margin-left: 145px;
  }

  .u-section-4 .u-line-2 {
    margin-top: 21px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 16px;
    margin-right: 238px;
    margin-left: 283px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 16px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 21px;
    margin-right: 175px;
    margin-left: 145px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 21px;
    margin-left: 152px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 16px;
    margin-right: 238px;
    margin-left: 283px;
  }

  .u-section-4 .u-btn-4 {
    padding-right: 309px;
    padding-left: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    min-height: 533px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-2 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-4 .u-image-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-3 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-4 {
    padding-right: 219px;
    padding-left: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 180px;
    width: 330px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 330px;
    margin-top: 16px;
  }

  .u-section-4 .u-image-2 {
    height: 180px;
    width: 330px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-2 {
    width: 330px;
    margin-top: 16px;
  }

  .u-section-4 .u-image-3 {
    height: 180px;
    width: 330px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-3 {
    width: 330px;
    margin-top: 16px;
  }

  .u-section-4 .u-btn-4 {
    padding-right: 119px;
    padding-left: 117px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/image41.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 247px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 938px;
  margin: 1px auto;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 245px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  margin: 26px 84px 0 54px;
}

.u-section-5 .u-text-2 {
  margin: 0 31px 0 1px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  margin: 26px 84px 0 54px;
}

.u-section-5 .u-text-4 {
  margin: 0 31px 0 1px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  margin: 26px 84px 0 54px;
}

.u-section-5 .u-text-6 {
  margin: 0 31px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-5 .u-list-1 {
    width: 350px;
    margin-bottom: 20px;
    margin-left: 168px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 621px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-5 .u-list-1 {
    width: 165px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-3 {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-5 {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-list-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 595px;
}

.u-section-6 .u-text-1 {
  font-size: 2.1875rem;
  margin: 39px 683px 0 0;
}

.u-section-6 .u-slider-1 {
  min-height: 469px;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  left: 225px;
  top: auto;
  right: auto;
  bottom: 65px;
}

.u-section-6 .u-container-layout-1 {
  padding: 8px 0 30px 26px;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("../images/image4.png");
  background-position: 50% 50%;
  margin: 0 auto 0 502px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 33px 0 7px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  width: 191px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 8px 0 30px;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("../images/image14.png");
  background-position: 50% 50%;
  margin: 0 auto 0 528px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 8px 0 30px;
}

.u-section-6 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("../images/image141.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  left: -15px;
  position: absolute;
  top: 205px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  position: absolute;
  top: 205px;
  right: -15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 313px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-slider-1 {
    height: auto;
    margin-top: 29px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: 136px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-9 {
    width: 191px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-10 {
    width: 136px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-6 .u-text-1 {
    width: 269px;
    margin-top: 92px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-slider-1 {
    min-height: 543px;
    margin-top: 20px;
    margin-bottom: 6px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 38px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 17px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 39px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 519px;
    margin-bottom: 10px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-10 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 85px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 582px;
    margin-top: 66px;
    margin-left: initial;
  }

  .u-section-6 .u-carousel-indicators-1 {
    bottom: 23px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    width: auto;
  }
}.u-section-7 {
  min-height: 370px;
}

.u-section-7 .u-text-1 {
  font-size: 2.1875rem;
  margin: 29px 763px 0 80px;
}

.u-section-7 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 42px 650px 60px 80px;
}

.u-section-7 .u-image-1 {
  width: 576px;
  left: auto;
  object-position: 20.81% 50%;
  filter: brightness(0.65);
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 583px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 412px);
    margin-bottom: 59px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 402px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 393px);
    margin-left: calc(((100% - 720px) / 2));
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.8125rem;
    margin: 16px calc(((100% - 720px) / 2) + 393px) 60px calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 668px;
  }

  .u-section-7 .u-text-1 {
    width: 457px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 402px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 14px auto 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 674px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-7 .u-image-1 {
    width: 437px;
    height: 332px;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-8 .u-text-1 {
  font-size: 2.1875rem;
  margin: 60px 683px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 10px 455px 0 0;
}

.u-section-8 .u-image-1 {
  width: 711px;
  height: 286px;
  animation-duration: 1000ms;
  margin: 66px auto 0 0;
}

.u-section-8 .u-image-2 {
  width: 419px;
  height: 286px;
  animation-duration: 1000ms;
  margin: -285px 0 0 auto;
}

.u-section-8 .u-image-3 {
  width: 330px;
  height: 286px;
  animation-duration: 1000ms;
  margin: 10px 0 0 auto;
}

.u-section-8 .u-image-4 {
  width: 460px;
  height: 286px;
  animation-duration: 1000ms;
  margin: -285px auto 0 0;
}

.u-section-8 .u-image-5 {
  width: 330px;
  height: 286px;
  animation-duration: 1000ms;
  margin: -285px 340px 0 auto;
}

.u-section-8 .u-image-6 {
  width: 711px;
  height: 286px;
  animation-duration: 1000ms;
  margin: 10px 0 0 auto;
}

.u-section-8 .u-image-7 {
  width: 419px;
  height: 286px;
  animation-duration: 1000ms;
  margin: -285px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-8 .u-text-1 {
    width: 242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    width: 685px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-1 {
    width: 553px;
  }

  .u-section-8 .u-image-2 {
    width: 377px;
    margin-top: -286px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 306px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-4 {
    width: 379px;
    margin-top: -582px;
  }

  .u-section-8 .u-image-5 {
    width: 551px;
    margin-top: -286px;
    margin-right: 0;
  }

  .u-section-8 .u-image-6 {
    margin-top: 306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-7 {
    width: 600px;
    margin: -582px 0 356px auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: 209px;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.8125rem;
  }

  .u-section-8 .u-image-1 {
    width: 455px;
    height: 220px;
  }

  .u-section-8 .u-image-2 {
    width: 255px;
    height: 220px;
    margin-top: -220px;
  }

  .u-section-8 .u-image-3 {
    width: 255px;
    height: 220px;
    margin-top: 240px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    height: 220px;
    width: 455px;
    margin-top: -450px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-5 {
    width: 255px;
    height: 220px;
    margin-top: -220px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-6 {
    height: 221px;
    margin-top: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-7 {
    width: 455px;
    height: 220px;
    margin: -451px auto 291px 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1653px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-5 {
    width: 270px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-6 {
    margin-top: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-7 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 170px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 164px;
    margin-top: 76px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 163px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 163px;
    margin-top: 183px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-4 {
    height: 163px;
    margin-top: -336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-5 {
    height: 163px;
    margin-top: 529px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-6 {
    height: 163px;
    margin-top: -336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-7 {
    height: 163px;
    margin-top: -336px;
    margin-bottom: 406px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}